

/*main content container width grids*/

#main{
    display: grid;
    width: 100%;
    height: auto;
    justify-items: center;
    margin-top:5%; 
    grid-template-columns: repeat(1,1fr);
	grid-template-rows: auto;
    grid-template-areas:
    
    
    "routines-container"
    "list-routines-container"
    "Rules-container"
    "disease-container"
    "price-list"

}

#header-img{
    display: flex;
    justify-content: center;
}

#header-nav{
    align-items: center;
}

.meny-pic{
    margin-top:7.5%;
}
/*grids container for routines*/

#routines-container{

    width: 90%;
    display: grid;
    column-gap:5%;
    grid-area: routines-container;
    grid-template-columns: repeat(6,1fr);
	grid-template-rows: auto;
    grid-template-areas: 
    "textbox-routines textbox-routines textbox-routines textbox-routines pomeranian-img pomeranian-img";
    height: auto;
    margin: auto;
}

/*grid-area for container routines*/

#textbox-routines{

  grid-area: textbox-routines;
  padding-left:12%;
  padding-right:5%;
}

#pomeranian-img{

  width: 350px;
  height: auto;
  grid-area:pomeranian-img; 
}


/*grid-area for main container and flex-box containers*/


#list-routines-container{
    grid-area: list-routines-container;
    height: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
#Rules-container{
    grid-area: Rules-container;
    display: flex;
    height: auto;
    flex-direction: row;
   
}

#disease-container{
    grid-area: disease-container;
    height: auto;
    display: flex;
    flex-direction:row;
    margin-top: 5%;
}

#price-list{
    
    grid-area: price-list;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-top: 10%;
    margin-bottom: 10%;
}

/*list for routines*/ 
   #open{

        list-style-image: url(../img/open-1.png);
    }
    #Walk1{

        list-style-image: url(../img/Koppel-ikon.png);
    }
    #food{

        list-style-image: url(../img/food-ikon.png);
    }
    #rest{

        list-style-image: url(../img/rest.png);
    }
    #walk2{

        list-style-image: url(../img/Koppel-ikon.png);
    }
    #home{

        list-style-image: url(../img/home-1.png);
    }
    #close{

        list-style-image: url(../img/close-1.png);
    }

   
    #price-list-box{

        border: dotted 2px rgba(38, 51, 67, 0.8);
        width: 700px;
        height: 200px;
        padding:2%;
    }

    #rubrik-price{

        text-align: center;
    }


    #Rules-textbox, #disease-textbox{
        margin-left: 15%;
        width: 50%;
    }

    /*img*/

    #price-pic{
        padding:5%;
        height: auto;
        width: 250px;
    }

    #pugs{
        padding:5%;
        height: auto;
    }

    #syringe{
        padding:5%;
        height: 250px;
    }

    #sick-dog{
     
        margin-left: 2%;
        width: 350px;
        height: auto;
    }
   
    /*img for pricelist*/
    #dollar{
        list-style-image: url(../img/black-paw-20px.png);
    }

   

   
    /*media queries*/

    @media screen and (max-width:1400px) {
        .meny-pic{

            width:800px;
            height: auto;
            margin-top:11.2%;
        }
        
        li.meny,a{

            font-size: 120%;
        }
        #pomeranian-img{

            width: 300px;
            height: auto;
        }

        #price-list-box{

            width: 500px;
            height: 200px;
         
        }
       
    }
/* Media Queries for small desktop*/
    @media screen and (max-width:1300px) and (min-width:960px)
    {
        li.meny,a{
            font-size: 110%;
        }

        #sick-dog{
            width: 300px;
            height: auto;
        }

        #pomeranian-img{

            width: 300px;
            height: auto;
        }
        #bulldog-pic{

            width: 300px;
            height: 250px;
        }

        #pugs{

            width: 180px;
            height: 165px;
        }

        #sick-dog{
            
            width: 300px;
            height: auto;
        }

        #price-pic{
            
            width: 200px;
            height: auto;
        }
    }


/*Changing meny to hamburger*/
    @media screen and (max-width:1050px){

        #line-1, #line-2,#line-3{
          width: 45px;
          height: 5px;
          background-color: #F77D26;
          margin:7px;
        
        }

        #sick-dog{
            
            width: 200px;
            height: auto;
        }

        #pugs{
            display: none;
        }

        /*hamburgermeny*/
        #burger{

          position: absolute;
          cursor: pointer;
          right: 5%;
        }

        #header-nav{
            align-items: center;
          
        }

         body{

            overflow-x:hidden;
         }

        .nav-text{

        position: absolute;
        right:0px;
        height: 88vh;
        top:12vh;
        background-color: rgb(81, 92, 112);
        width:30%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 8%;
        padding-top: 2%;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;

        }

        .nav-active{

            transform: translateX(0%);
        }

        li.meny,a{

            margin:0%;
           
        }

        #price-list-box{
         
            width: 400px;
            height: 150px;
            padding:2%;
        }
       
        
        #footer-img{
            width: 80px;
            height: auto;
         }

    }


/*For tablet*/
    
    @media screen and (max-width:960px) and (min-width:768px){

        #disease-container{

            flex-direction:row-reverse;
            justify-content: center;
   
        }

        #disease-textbox{

            width: 40%;
        }

        #Rules-container{

            justify-content: center;
        }


        .nav-text{
        
            height: 88vh;
            top:12vh;
        }

        li.meny,a{

            font-size: 100%;
        }

        #header-nav{
            align-items: center;
        }

        #list-routines-container{
            justify-content: flex-start;
            column-gap: 5%;
        }


        /*img size*/

        .meny-pic{

            margin-top:15%;
            width: 600px;
        }

        #syringe{

            display:none;

        }

        #pomeranian-img{

            width: 300px;
            height: auto;
        }
       
       
        #bulldog-pic{

            width: 300px;
            height: 250px;
        }

        #container-list{

            width:40%;

        }
       
        #sick-dog{
            
            width: 200px;
            height: auto;
            margin-left: 5%;

        }

        #price-pic{
            
            width: 200px;
            height: auto;
        }

    }
   
    /*mobile*/

    @media screen and (max-width:767px)
    {
        body{

            background-image:none;
            }

            .Grids-Container{

                width:100%;
            }

            #main{

                width: 100%;
                justify-items: center;
             
            }

            #header-nav{

                justify-content: space-around;
                width: 100%;
                height:80px;
            }


            .nav-text{
        
                height: 86vh;
                top:10vh;
            }

            li.meny,a{

                font-size: 100%;
            }


            /*img*/
            #header-img{

               width: 400px;
               height: auto;
            }

            .meny-pic{

                margin-top:20%;
                width: 400px;
            }

            #burger{

                right: 10%;
            }

          

            /*change direktion in grid and flex-box*/
            #routines-container{

                width: 100%;
                justify-items: center;
                grid-template-columns: repeat(6,1fr);
                grid-template-rows: auto;
                grid-template-areas: 
                "textbox-routines textbox-routines textbox-routines textbox-routines textbox-routines textbox-routines"
                 "pomeranian-img pomeranian-img  pomeranian-img pomeranian-img pomeranian-img pomeranian-img";
            }

            #list-routines-container{

                flex-direction:column;
                align-items: center;
               
            }

            #Rules-container{

               flex-direction: column;
               align-items: center;
            }

            #Rules-textbox{

                width: 80%;
            }

            #disease-container{

                flex-direction:column;
                align-items: center;
                
            }

            #disease-textbox{

                width: 80%;
                margin-right: 10%;
            }
            
            
            #price-list{

                flex-direction: column;
                row-gap: 2%;
                align-items: center;
               
            }


            #textbox-routines{

               width: 80%;
             
              }

              #container-list{

                  width: 100%;
                  padding-left: 10%;
                  
              }

            /*img size*/
            #syringe{

                display:none;
    
            }

            #pomeranian-img{

                width: 300px;
                height: auto;
            }

            #pugs{

                display: none;
            }
           
            
            #bulldog-pic{

                width: 300px;
                height: 250px;
            }
           
           
            #sick-dog{

                margin-top: 5%;
                width: 300px;
                height: auto;
            }

            #price-pic{
                
               display: none;
            }

            #footer-img{

               width: 80px;
               height: auto;
            }

            p,li{

               font-size:2vw;
            }
            


    }

    @media screen and (max-width:450px){

      b{

          box-sizing: border-box;
      }

      /*img size*/

      #syringe{

          display:none;

      }

      #pomeranian-img{

          width: 200px;
          height: auto;
      }

      #pugs{

          display: none;
      }
     
      #bulldog-pic{

          width: 200px;
          height:auto;
      }
      
      #sick-dog{

        width: 200px;
        height: auto;

    }

      #price-pic{
          
         display: none;
      }

      #footer-img{

       display: none;
       }

      .meny-pic{

        width: 250px;
    }
    
    /*burger*/
    #line-1, #line-2,#line-3{

       width: 30px;
       height: 3px;
       background-color: #F77D26;
       margin:4px;
       
       }

    #price-list-box{

        width:200px;
        height: auto;
    }

       
    #header-img{

     padding-top: 15%;
     width: 95%;

    }

    .Grids-Container{

        row-gap:0%;
    }
   

    /*font size*/

    p,li{
        font-size:3vw;
    }

    .footer-text{
        font-size:2vw;
    }


    }
