.body{
    width: 100%;
    height: auto;
}


.nav-text{
    order:2;
    padding-right: 2%;
    width: 90%;
    height: auto;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
}
 
   

#header-img{
    width: 90%;
    display:flex;
    justify-content: center;
}


    .meny-pic{
        width: 90%;
        margin-top: 10%;
    }


    h1{
        color:#F77D26; 
        font-size: 24px;
     
    }

 #main p{
     font-size: 16px;
 }

 #main span{
     font-size: 12px;
     font-weight: bold;
     color:grey;
     text-transform: uppercase;
     letter-spacing: 1px;
    
 }
  
    .class[item-]{
       
      
        color: #444;
        display:flex; 
        justify-items: center;
        flex-direction: column;
        justify-content: space-between;
        position:relative;
    }


   .bilder {
       width: 90%;
       display:flex;
       color: #444;
       box-shadow: 0 3px 6px rgba(0, 0,0, 0.1);
       border-radius: 5%;
       padding-bottom: 10%;
       background-size: cover;
       background-position: center center;
   }
    article{
       
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 60px;
    }
    #footer{
        grid-area: footer;
        width: 100%;
      
    }
    
  /*standard skärm */

  #main{
    width: 90%; 
   /* width: 1240px;*/
    margin-top: 5%;
    display:grid;
    height: auto;
    grid-gap:3%;
    justify-items: center;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows: auto;

    grid-template-areas: 
    "item-1 item-1 item-2 item-3"
    "item-4  .       .     . ";
  
    
}
    /*Breda desktopskärmar: stöttre än 1200px*/
    @media screen and (max-width:1400px){
       
        #main{
            width: 90%;
            display:grid;
            grid-template-columns:repeat(4,1fr);  
            grid-template-rows: auto;
    
            grid-template-areas: 
            "item-1 item-1 item-2 item-3"
            "item-4 none   .        . ";
              
        }
      
        .bilder{
            display: grid;
            width: 90%;
        }
        
        .row {
            display: grid;
            width: 90%;
        }
            
       
    }
      
    
/*Mindre desktopskärmar :mellan 1200px och 960px*/
   @media screen and (max-width:1100px){

    

       #main{
           grid-template-columns: repeat(2,1fr); 
           grid-template-rows: auto;
   
           grid-template-areas: 
           "item-1 item-2 "
           "item-3  item-4";  
           
        }
       
        .bilder {
            display: grid;
            width:90%;
        }
        .row {
            display: grid;
            width: 90%;
        }
            
     }

     
      
 /*Tablets såsom Ipad: mellan 960px och 768px*/
 @media screen and (max-width:959px){

    #main{
        width: 100%;
        display:grid;
        grid-template-columns:repeat(2,1fr);    
        grid-template-rows: auto;

        grid-template-areas: 
        "item-1  item-2"
        "item-3  item-4";      
      }
      #header-nav{
        width: 90%;
        margin-left: 0px;
    
    }
       .bilder{
           display: grid;
           width: 90%;
       }

       .row {
           display: grid;
           width: 90%;
       }
     
        
     }
       
  
/*För mobiltelfoner: mindre än 768px*/
   @media screen and (max-width:767px){
      

    #main {
        display:grid;
        width: 90%; 
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        grid-template-areas: 
       
        "item-1"
        "item-2"
        "item-3"  
        "item-4";
      } 
           
    #header-nav{
        width: 90%;
        margin-left: 0px;
        font-size: 50%;
    
    }
      .looga{
          width: 50%;
        
      }
      
      .bilder{
        display: grid;
        width: 90%;
    }
    .row{
        display:grid;
        width: 80%;
    }
    #header-nav{
        width: 90%;
        margin-left: 0px;
      
        
    }

      #footer{
          margin-top: 50%;
          font-size: 200%;
      }
    .meny-pic{
        width:100%;
        height: auto;
        margin-top:25%;
    } 
}